[submodule "CSE 237/Final Project/project-flashcard-finley-steve-albert-tom"]
	path = CSE 237/Final Project/project-flashcard-finley-steve-albert-tom
	url = https://github.com/CSE237SP2021/project-flashcard-finley-steve-albert-tom.git
